In [40]:
import numpy as np
import pandas as pd
import  datetime

In [41]:
# Change this variable to read in another file as long as it's the same path
filename = 'LAX_2018.csv'

base = './input/'
base_out = './output/'


output_file = filename.split('.')[0] + '.sof'
print('Will output results to', output_file)

Will output results to LAX_2018.sof

In [42]:
df = pd.read_csv(base + filename)

In [43]:
df.head()

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,72295023174,2018-01-01T00:47:00,FM-16,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72295023174,2018-01-01T00:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72295023174,2018-01-01T01:49:00,FM-16,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72295023174,2018-01-01T01:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,72295023174,2018-01-01T02:53:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df = df[['DATE', 'HourlyWindDirection', 'HourlyWindSpeed']]

In [45]:
df['HourlyWindDirection'].unique()

array(['070', '110', '000', '100', '080', '050', 'VRB', '140', '270',
       '260', '280', '170', nan, '010', '060', '120', '040', '250', '220',
       '240', '290', '030', '090', '130', '310', '320', '230', '200',
       '300', '340', '330', '020', '210', '190', '160', '180', '360',
       '350', '150'], dtype=object)

In [46]:
df = df[df['HourlyWindDirection']!= 'VRB']

In [47]:
df.dropna(axis=0, how='any', inplace=True)

In [48]:
#output_headers = ['%data based on file X:\Sites\SCAQMD\2016\Kvartal4-2016\WIND\Airmar/Nov_23_2016_3283794_0183.LOG'
#'%[100,Year,daynumber,HHMM,SS,windspeed,winddir,mean10secWindspeed,mean10secWindDir,mean60secWidndSpeed,mean60secWindDir,SpeedOG,CourseOG,Lat,Long,rateOfTurn, magneticSensorHeading,baroPressureBar,temperature [c],lineNum]']

output_header = '%100,year,dayOfYear,HHMM,Sec,Windspeed,WindDir'

In [50]:
with open(base_out + output_file, 'w') as f:
    f.write(output_header + '\n')
    for i, row in df.iterrows():
        date = datetime.datetime.strptime(row['DATE'], '%Y-%m-%dT%H:%M:%S').timetuple()
        nextline = ','.join(['100' , str(date.tm_year),  str(date.tm_yday), '{:02d}{:02d}'.format(date.tm_hour,date.tm_min), str(date.tm_sec), str(row['HourlyWindSpeed']),str(row['HourlyWindDirection'] )])
        f.write(nextline + '\n')